* {
    font-family: "Rimouski";
}

body{
    margin-top: 100px;
    background-color: #633675;
}
p {
    margin-top: 15px;
}

.containerApp{
    width: 300px;    
    background-color: #FFF;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
    padding-bottom : 50px;
}

.app-title{
    width: 300px;
    height: 50px;
    border-radius: 10px 10px 0 0;
}

.app-title p {
    text-align: center;
    padding: 15px;
    margin: 0 auto;
    font-size: 1.2em;
    color: #293251;
}

.notification{
    background-color: #f8d7da;
    display: none;
}

.notification p{
    color: #721c24;
    font-size: 1.2em;
    margin: 0;
    text-align: center;
    padding: 10px 0;
}

.weatherContainer{
    width: 300px;
    height: 260px;
    background-color: rgba(244, 249, 255, 0.856);
}

.weatherIcon{
    width: 300px;
    height: 128px;
}

.weatherIcon img{
    display: block;
    margin: 0 auto;
}

.temperatureVal{
    width: 300px;
    height:60px;
}

.temperatureVal p{
    padding: 0;
    margin: 0;
    color: #293251;
    font-size: 4em;
    text-align: center;
    cursor: pointer;
}

.temperatureVal span{
    color: #293251;
    font-size: 0.5em;
}

.temperatureDesc p {
    padding: 22px;
    margin: 0;
    color: #293251;
    text-align: center;
    font-size: 1.2em;
}

.location p{
    margin: 0;
    padding: 0;
    color: #293251;
    text-align: center;
    font-size: 0.8em;
}